<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Favicon -->
    <link rel="icon" href="images/favicon7.ico" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="./styling/booking.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zilla+Slab+Highlight:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Bookings</title>
  </head>

  <body>
    <section class="form my-4 mx-5">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-5">
            <img
              src="./images/nadal.jpg"
              class="img-fluid"
              alt=""
              height="600"
              width="800"
            />
          </div>
          <div class="col-lg-7 px-5 pt-3">
            <h1 class="py-3 pb-5 h1-logo">SportsHub</h1>
            <h4 class="h4-logo">Bookings</h4>
            <form action="/user/booking" method="POST">
              <div class="form-row">
                <div class="col-lg-7">
                  <label for="City" class="labels-form">Choose City</label>
                  <select name="city" class="custom-select">
                    <option selected disabled>Select City</option>
                    <option class="options" value="Delhi">Delhi</option>
                    <option class="options" value="Chennai">Chennai</option>
                    <option class="options" value="Vellore">Vellore</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <label for="Time-Slot" class="labels-form"
                    >Choose Time Slot</label
                  >
                  <select name="Timing" class="custom-select">
                    <option selected disabled>Select Timing</option>
                    <option class="options" value="1">6:00am-8:00am</option>
                    <option class="options" value="2">10:00am-12:00am</option>
                    <option class="options" value="3">2:00pm-4:00pm</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <label for="Stadium" class="labels-form"
                    >Choose Stadium</label
                  >
                  <select name="stadium" class="custom-select">
                    <option selected disabled>Select Stadium</option>
                    <% ground.forEach(g => { %>
                    <optgroup label="<%= g.location %>">
                      <option value="<%= g.name %>"><%= g.name %></option>
                    </optgroup>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <label for="Date" class="labels-form">Choose Date</label>
                  <input
                    type="date"
                    name="Date"
                    placeholder="Enter Date"
                    class="form-control my-3 p-4 date-lol"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <button type="submit" class="btn1 mt-3 mb-5">Book</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
